<section class="about" id="about">
  <div class="about-wrapper container">
    <div class="about-item row" id="about-manicure">
      <div class="about-item__text col-md-6 col-sm-12">
        <h2 class="about-item__text__title">Manicure</h2>
        <div class="about-item__text__main">
          Manicure to zabieg kosmetyczny paznokci i palców. Słowo „manicure” pochodzi od łacińskiego „manus”, co oznacza
          pędzel, oraz „kuracja” – pielęgnacja, czyli zabieg higieniczny mający na celu zapobieganie chorobom skóry
          dłoni i paznokci oraz nadawanie dłoniom, a co za tym idzie, zdrowie. Paznokcie, piękny i zadbany wygląd.
        </div>
      </div>
      <div class="about-item__image col-md-6 col-12">
        <img alt="about-service-image" class="img-fluid" loading="lazy" src="./assets/images/about-nails.webp" />
      </div>
    </div>
    <div class="about-item row" id="about-pedicure">
      <div class="about-item__text col-md-6 col-sm-12">
        <h2 class="about-item__text__title">Pedicure</h2>
        <div class="about-item__text__main">
          <p>
            Pedicure to pielęgnacja paznokci u stóp i samych palców (usunięcie znajdujących się na nich modzeli,
            polerowanie płytki paznokcia).
          </p>

          <p>
            Czym jest zdjęcie pedicure Wypielęgnowane nogi i piękny lakier do paznokci to nie tylko gwarancja pewności
            siebie, ale także gwarancja dobrego nastroju.
          </p>

          <p>
            Pielęgnacja stóp odbywa się na różne sposoby. Wybierz swoją opcję i nie zapomnij o zabiegach, które
            wspierają pedicure i piękno Twoich stóp, aby były zawsze miękkie i delikatne.
          </p>
        </div>
      </div>
      <div class="about-item__image col-md-6 col-12">
        <img alt="about-service-image" class="img-fluid" loading="lazy" src="./assets/images/about-pedicure.webp" />
      </div>
    </div>
    <div class="about-item row" id="about-eyebrows">
      <div class="about-item__text col-md-6 col-sm-12">
        <h2 class="about-item__text__title">Eyebrows</h2>
        <div class="about-item__text__main">
          Laminowanie brwi to zabieg polegający na naprzemiennym nakładaniu na włoski brwi różnych kompozycji. Ich
          zadaniem jest nadanie odpowiedniego kierunku nawet najbardziej nieposłusznym włoskom, utrwalenie schludnego
          kształtu brwi, przyciemnienie brwi (malowanie na bardziej wyrazisty odcień).
        </div>
      </div>
      <div class="about-item__image col-md-6 col-12">
        <img alt="about-service-image" class="img-fluid" loading="lazy" src="./assets/images/about-eyebrows.webp" />
      </div>
    </div>
    <div class="about-item row" id="about-nail-polish">
      <div class="about-item__text col-md-6 col-sm-12">
        <h2 class="about-item__text__title">Nails Polish</h2>
        <div class="about-item__text__main">
          Zazwyczaj manicure z użyciem zwykłego lakieru jest tańszą i szybszą opcją w porównaniu do lakieru żelowego.
          Używanie zwykłego lakieru pozwala częściej zmieniać kolory i eksperymentować ze wzorami paznokci. Zwykły
          lakier ma również mniejszą toksyczność, dzięki czemu jest bezpieczniejszy w użyciu.
        </div>
      </div>
      <div class="about-item__image col-md-6 col-12">
        <img alt="about-service-image" class="img-fluid" loading="lazy" src="./assets/images/about-nail-polish.webp" />
      </div>
    </div>
  </div>
</section>
