<section class='about' id='about'>
  <div class='about-wrapper container'>
    <div class='about-item row' id='about-nails'>
      <div class='about-item__text col-md-6 col-sm-12'>
        <h2 class='about-item__text__title'>Nails</h2>
        <p class='about-item__text__main'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec nisi turpis. Curabitur sit amet lectus
          semper, convallis arcu in, commodo justo. Quisque vitae magna volutpat, fringilla sem vitae, consectetur
          felis. Donec molestie facilisis molestie. In euismod augue nibh, venenatis tincidunt turpis pharetra non.
          Praesent eget tortor ac leo suscipit commodo id id purus. Aenean mollis aliquet ipsum eget ultricies. Cras
          pellentesque sit amet turpis vehicula ullamcorper.
        </p>
      </div>
      <div class='about-item__image col-md-6 col-12'>
        <img alt='about-service-image' class='img-fluid' src='./assets/images/about-nails.webp'>
      </div>
    </div>
    <div class='about-item row' id='about-pedicure'>
      <div class='about-item__text col-md-6 col-sm-12'>
        <h2 class='about-item__text__title'>Pedicure</h2>
        <p class='about-item__text__main'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec nisi turpis. Curabitur sit amet lectus
          semper, convallis arcu in, commodo justo. Quisque vitae magna volutpat, fringilla sem vitae, consectetur
          felis. Donec molestie facilisis molestie. In euismod augue nibh, venenatis tincidunt turpis pharetra non.
          Praesent eget tortor ac leo suscipit commodo id id purus. Aenean mollis aliquet ipsum eget ultricies. Cras
          pellentesque sit amet turpis vehicula ullamcorper.
        </p>
      </div>
      <div class='about-item__image col-md-6 col-12'>
        <img alt='about-service-image' class='img-fluid' src='./assets/images/about-pedicure.webp'>
      </div>
    </div>
    <div class='about-item row' id='about-eyebrows'>
      <div class='about-item__text col-md-6 col-sm-12'>
        <h2 class='about-item__text__title'>Eyebrows</h2>
        <p class='about-item__text__main'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec nisi turpis. Curabitur sit amet lectus
          semper, convallis arcu in, commodo justo. Quisque vitae magna volutpat, fringilla sem vitae, consectetur
          felis. Donec molestie facilisis molestie. In euismod augue nibh, venenatis tincidunt turpis pharetra non.
          Praesent eget tortor ac leo suscipit commodo id id purus. Aenean mollis aliquet ipsum eget ultricies. Cras
          pellentesque sit amet turpis vehicula ullamcorper.
        </p>
      </div>
      <div class='about-item__image col-md-6 col-12'>
        <img alt='about-service-image' class='img-fluid' src='./assets/images/about-eyebrows.webp'>
      </div>
    </div>
    <div class='about-item row' id='about-nail-polish'>
      <div class='about-item__text col-md-6 col-sm-12'>
        <h2 class='about-item__text__title'>Nails Polish</h2>
        <p class='about-item__text__main'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec nisi turpis. Curabitur sit amet lectus
          semper, convallis arcu in, commodo justo. Quisque vitae magna volutpat, fringilla sem vitae, consectetur
          felis. Donec molestie facilisis molestie. In euismod augue nibh, venenatis tincidunt turpis pharetra non.
          Praesent eget tortor ac leo suscipit commodo id id purus. Aenean mollis aliquet ipsum eget ultricies. Cras
          pellentesque sit amet turpis vehicula ullamcorper.
        </p>
      </div>
      <div class='about-item__image col-md-6 col-12'>
        <img alt='about-service-image' class='img-fluid' src='./assets/images/about-nail-polish.webp'>
      </div>
    </div>
  </div>
</section>
