<section class='contact' id='contact'>
  <div class='container d-flex'>
    <div class='contact-image col-md-6 col-sm-12'>
      <img alt='The best master' class='img-fluid' loading='lazy' src='./assets/images/contact-me.webp'>
    </div>
    <div class='contact-info col-md-6 col-sm-12'>
      <p class='contact-info__title'>Contact with me</p>
      <a class='contact-info__link' href='tel:+48 791 294 783'>+48 791 294 783</a>
      <a class='contact-info__link' href='mailto:example@mail.com'>example@mail.com</a>

      <div class='contact-info-social'>
        <a class='contact-info-social__link' href='#'>
          <include src='./src/assets/icons/instagram.svg'></include>
        </a>
        <a class='contact-info-social__link' href='#'>
          <include src='./src/assets/icons/telegram.svg'></include>
        </a>
        <a class='contact-info-social__link' href='#'>
          <include src='./src/assets/icons/viber.svg'></include>
        </a>
      </div>

      <iframe
        allowfullscreen='' height='350' loading='lazy'
        referrerpolicy='no-referrer-when-downgrade'
        src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d629.1909399139258!2d25.5382114!3d50.8910826!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1692526881713!5m2!1suk!2sua'
        style='border:0;' width='100%'></iframe>
    </div>
  </div>
</section>
