<section class='contact' id='contact'>
  <div class='container d-flex'>
    <div class='contact-image col-md-6 col-sm-12'>
      <img alt='The best master' class='img-fluid' loading='lazy' src='./assets/images/contact-me.webp'>
    </div>
    <div class='contact-info col-md-6 col-sm-12'>
      <p class='contact-info__title'>Contact with me</p>
      <a class='contact-info__link' href='tel:+48 791 294 783'>+48 791 294 783</a>
      <a class='contact-info__link' href='mailto:alina.perova@icloud.com'>alina.perova@icloud.com</a>

      <div class='contact-info-social'>
        <a class='contact-info-social__link' href='//instagram.com/tychy_lavander_hause'>
          <include src='./src/assets/icons/instagram.svg'></include>
        </a>
        <a class='contact-info-social__link' href='//t.me/+48791294783'>
          <include src='./src/assets/icons/telegram.svg'></include>
        </a>
        <a class='contact-info-social__link' href='//facebook.com/profile.php?id=100067589171716'>
          <include src='./src/assets/icons/facebook.svg'></include>
        </a>
      </div>

      <iframe
        allowfullscreen='' height='350' loading='lazy'
        referrerpolicy='no-referrer-when-downgrade'
        src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2558.541912887551!2d18.9858613!3d50.1135807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716b7ddbed2846d%3A0xed78471a53bbbbc2!2sSalon%20kosmetyczny%20Lavender%20House%20of%20Beauty!5e0!3m2!1suk!2sua!4v1693594100813!5m2!1suk!2sua'
        style='border:0;' width='100%'></iframe>
    </div>
  </div>
</section>
