<section class='hero' id='hero'>
  <div class='container d-flex pt-5 flex-wrap'>
    <div class='hero-text col-sm-12 col-lg-6'>
      <p class='hero-text__main'>Dziewczyna bez ładnego manicure jest jak noc bez gwiazd</p>
      <p class='hero-text__secondary'>
        W naszym salonie kobiety stają się nie tylko piękniejsze, ale także szczęśliwsze i zdrowsze, ponieważ nasza
        stylistka zawsze doradzi to, co jest najlepsze dla zdrowia dziewczyny
      </p>
    </div>
    <div class='col-sm-12 col-lg-6'>
      <img alt='Beautiful manicure' class='d-block mx-lg-auto img-fluid user-select-none'
           src='./assets/images/hero-nails.webp'>
    </div>
  </div>
</section>
