<section class="hero" id="hero" xmlns="http://www.w3.org/1999/html">
  <div class="container d-flex pt-5 flex-wrap">
    <div class="hero-text col-sm-12 col-lg-4">
      <p class="hero-text__main">Best Nails For Best Moment</p>
      <p class="hero-text__secondary">
        It is a long-established fact that a reader will be distracted
        by the readable content of a page when looking at its layout.
      </p>
    </div>
    <div class="col-sm-12 col-lg-8">
      <img alt="Beautiful manicure" class="d-block mx-lg-auto img-fluid user-select-none"
           src="./assets/images/hero-nails.webp">
    </div>
  </div>
</section>
