<section class="prices" id="prices">
  <div class="bg-img"></div>
  <div class="container">
    <table class="table">
      <caption class="caption-top">
        Our Pricing
      </caption>
      <tbody>
        <tr>
          <td class="w-75">Manicure bez lakierowania</td>
          <td>50 zł</td>
        </tr>
        <tr>
          <td class="w-75">Manicure z lakierem zwykłym</td>
          <td>60 zł</td>
        </tr>
        <tr>
          <td class="w-75">Usunięcie żelu</td>
          <td>10 zł</td>
        </tr>
        <tr>
          <td class="w-75">Manicure hybrydowy</td>
          <td>80 zł</td>
        </tr>
        <tr>
          <td class="w-75">Manicure żelowy</td>
          <td>100 zł</td>
        </tr>
        <tr>
          <td class="w-75">Przedłużanie paznokci</td>
          <td>120 zł</td>
        </tr>
        <tr>
          <td class="w-75">Pedicure z lakierowaniem</td>
          <td>100 zł</td>
        </tr>
        <tr>
          <td class="w-75">Pedicure czysty</td>
          <td>60 zł</td>
        </tr>
        <tr>
          <td class="w-75">Pedicure z lakierowaniem zwykłym</td>
          <td>70 zł</td>
        </tr>
        <tr>
          <td class="w-75">Malowanie brwi</td>
          <td>20 zł</td>
        </tr>
        <tr>
          <td class="w-75">Regulacja brwi zł</td>
          <td>15 zł</td>
        </tr>
        <tr>
          <td class="w-75">Laminacja brwi</td>
          <td>60 zł</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
