<section class='services' id='services'>
  <div class='swiper services-swiper container'>
    <div class='services-wrap swiper-wrapper'>
      <div class='service-item-wrap swiper-slide col-lg-3 col-md-6 col-sm-12'>
        <img alt='services-nails' class='service-item-icon' src='./assets/icons/services-nails.png'>
        <p class='service-item-text'>Manicure</p>
        <a class='service-item-link' href='#about-manicure'>Dowiedz się więcej</a>
      </div>
      <div class='service-item-wrap swiper-slide col-lg-3 col-md-6 col-sm-12'>
        <img alt='services-pedicure' class='service-item-icon' src='./assets/icons/services-pedicure.png'>
        <p class='service-item-text'>Pedicure</p>
        <a class='service-item-link' href='#about-pedicure'>Dowiedz się więcej</a>
      </div>
      <div class='service-item-wrap swiper-slide col-lg-3 col-md-6 col-sm-12'>
        <img alt='services-eyebrows' class='service-item-icon' src='./assets/icons/services-eyebrows.png'>
        <p class='service-item-text'>Laminacja brwi i rzęs</p>
        <a class='service-item-link' href='#about-eyebrows'>Dowiedz się więcej</a>
      </div>
      <div class='service-item-wrap swiper-slide col-lg-3 col-md-6 col-sm-12'>
        <img alt='services-polish' class='service-item-icon' src='./assets/icons/services-nail-polish.png'>
        <p class='service-item-text'>Sprzedaż kosmetyków</p>
        <a class='service-item-link' href='#about-nail-polish'>Dowiedz się więcej</a>
      </div>
    </div>
    <div class='swiper-pagination services-swiper-pagination'></div>
  </div>
</section>
