/* Diphylleia-regular - latin */
@font-face {
  font-display: swap;
  font-family: Diphylleia;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Diphylleia/Diphylleia-Regular.woff') format('woff'),
  url('../assets/fonts/Diphylleia/Diphylleia-Regular.woff2') format('woff2');
}