header {
  transition: all 0.3s ease-in-out;

  &.scrolling {
    box-shadow: 0 3px 15px 0 var(--theme-purple-soft);
  }

  .navbar {
    background-color: #f4efec;
    --bs-navbar-hover-color: var(--theme-purple-soft);

    &-nav {
      --bs-nav-link-font-weight: 600;
    }
  }
}
