.services {
  padding-block: 50px;

  &-wrap {
    padding-block: 30px;
  }

  .service-item {
    &-wrap {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 25px;
      padding-inline: 1rem;
    }

    &-icon {
      width: 100px;
      height: 100px;
    }

    &-text {
      font-size: 1.3rem;
      font-weight: bold;
      max-width: 350px;
    }

    &-link {
      font-weight: bold;
      padding: 10px 20px;
      transition: all 0.3s ease;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--theme-purple-dark);
      border: 0;
      border-radius: 50px;
      box-shadow: var(--theme-purple-soft) 0 0 8px;

      &:hover {
        color: var(--theme-white);
        background-color: var(--theme-purple-dark);
        box-shadow: var(--theme-purple-soft) 0 7px 29px 0;
      }
    }
  }

  .swiper-pagination {
    position: relative;
    padding-top: 20px;

    &-bullet-active {
      background-color: var(--theme-purple-soft);
    }
  }
}
