.services {
  padding-block: 50px;

  &-wrap {
    padding-block: 30px;
  }

  .service-item {
    &-wrap {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 25px;
      padding-inline: 1rem;
    }

    &-icon {
      width: 100px;
      height: 100px;
      transition: all .3s ease;
    }

    &-text {
      max-width: 350px;
    }

    &-link {
      padding: 10px 20px;
      transition: all .3s ease;
      text-decoration: none;
      text-transform: uppercase;
      color: #9384d1;
      border: 0;
      border-radius: 50px;
      background-color: #fff;
      box-shadow: #0000000c 0 0 8px;

      &:hover {
        color: hsl(0, 0%, 100%);
        background-color: #9384d1;
        box-shadow: #9384d1 0 7px 29px 0;
      }

      &:active {
        transition: 100ms;
        transform: translateY(10px);
        color: #fff;
        background-color: #9384d1;
        box-shadow: #9384d1 0 0 0 0;
      }
    }
  }

  .swiper-pagination {
    position: relative;
    padding-top: 20px;

    &-bullet-active {
      background-color: #9384d1;
    }
  }
}
