@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

* {
  font-family: Diphylleia, serif;
}

html {
  scroll-padding-top: 90px;
}

body {
  background-color: lavender;
}

@import 'fonts.scss';
@import 'header';
@import 'hero';
@import 'services';
@import 'about';
@import 'prices';
@import 'contact';
@import 'footer';
